/* Text */
BODY {	background-image : url( "../assets/images/Background.gif" );
	background-repeat : repeat-x;
	background-color : rgb(154,154,154);
	font-family : Arial,   Helvetica,   Geneva,   Sans-serif;
	font-size : 14px;
	color : rgb(51,51,51)}

.nof_GraniteRedBanners1-Default {
font-family:Georgia; font-size:28pt; color:rgb(51,51,51) 
}

.nof_GraniteRedNavbar4-Regular {
font-family:verdana; font-size:10; font-weight:700; font-style:normal; color:rgb(51,51,51) 
}

.nof_GraniteRedNavbar5-Rollover {
font-family:verdana; font-size:10; font-weight:700; font-style:normal; color:rgb(51,51,51) 
}

.nof_GraniteRedNavbar6-Highlighted {
font-family:verdana; font-size:10; font-weight:700; font-style:normal; color:rgb(255,255,255) 
}

.nof_GraniteRedNavbar7-HighlightedRollover {
font-family:verdana; font-size:10; font-weight:700; font-style:normal; color:rgb(255,255,255) 
}

.nof_GraniteRedNavbar9-Regular {
font-family:verdana; font-size:10; font-weight:700; font-style:normal; color:rgb(51,51,51) 
}

.nof_GraniteRedNavbar10-Rollover {
font-family:verdana; font-size:10; font-weight:700; font-style:normal; color:rgb(51,51,51) 
}

.nof_GraniteRedNavbar11-Highlighted {
font-family:verdana; font-size:10; font-weight:700; font-style:normal; color:rgb(255,255,255) 
}

.nof_GraniteRedNavbar12-HighlightedRollover {
font-family:verdana; font-size:10; font-weight:700; font-style:normal; color:rgb(255,255,255) 
}


P {
	font-family: Arial,         Helvetica,         Geneva,         Sans-serif;
	font-size : 14px;
	color : rgb(51,51,51);
	line-height : 1.5em
}

.TextObject {
	font-family: Arial,         Helvetica,         Geneva,         Sans-serif;
	font-size : 14px;
	color : rgb(51,51,51)
}

.TextNavBar {
	font-family: Arial,         Helvetica,         Geneva,         Sans-serif;
	font-size : 14px;
	color : rgb(16,16,16)
}

A:link {
	color: rgb(255,255,255);
	font-family : Arial;
	font-size : 14px
}

A:visited {
	font-family: Arial,         Helvetica,         Geneva,         Sans-serif;
	font-size : 14px;
	color : rgb(255,255,255)
}

A:active {
	font-family: Arial,         Helvetica,         Geneva,         Sans-serif;
	font-size : 14px;
	color : rgb(51,51,51)
}

H1 {
	font-family: Georgia,          Palatino,          "Times New Roman",          Times,          Serif;
	font-size : 28px;
	font-weight : lighter;
	color : rgb(255,255,255)
}

H2 {
	font-family: Georgia,          Palatino,          "Times New Roman",          Times,          Serif;
	font-weight : lighter;
	font-size : 24px;
	color : rgb(255,255,255)
}

H3 {
	font-family: Georgia;
	font-size : 20px;
	color : rgb(51,51,51)
}

H4 {
	color: rgb(51,51,51)
}

H5 {
	color: rgb(16,16,16)
}

H6 {
	color: rgb(255,255,255)
}

UL {
	font-family: Arial,         Helvetica,         Geneva,         Sans-serif;
	font-size : 14px;
	color : rgb(51,51,51)
}

OL {
	font-family: Arial,         Helvetica,         Geneva,         Sans-serif;
	font-size : 14px;
	color : rgb(51,51,51)
}



A {
	font-family: Arial,  Helvetica,  Geneva,  Sans-serif;
	font-size : 14px
}A:hover {
	font-family: Arial,         Helvetica,         Geneva,         Sans-serif;
	font-size : 14px;
	color : rgb(16,16,16)
}